@tailwind base;
@tailwind components;
@tailwind utilities;

.horizontal-scroll {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

}

.horizontal-scroll > * {
  scroll-snap-align: start;
}

.kanban-list {
  scroll-snap-type: y mandatory;
}

.kanban-card {
  scroll-snap-align: start;
}

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 270 7% 14%;
    --card: 0 0% 100%;
    --card-foreground: 270 7% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 7% 14%;
    --primary: 270 6% 21%;
    --primary-foreground: 0 0% 97%;
    --secondary: 286 1% 97%;
    --secondary-foreground: 270 6% 21%;
    --muted: 286 1% 97%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 286 1% 97%;
    --accent-foreground: 270 6% 21%;
    --destructive: 27 25% 58%;
    --border: 286 0% 92%;
    --input: 286 0% 92%;
    --ring: 286 2% 70%;
    --chart-1: 41 22% 65%;
    --chart-2: 185 12% 60%;
    --chart-3: 227 7% 40%;
    --chart-4: 84 19% 83%;
    --chart-5: 70 19% 77%;
    --sidebar: 0 0% 97%;
    --sidebar-foreground: 270 7% 14%;
    --sidebar-primary: 270 6% 21%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 286 1% 97%;
    --sidebar-accent-foreground: 270 6% 21%;
    --sidebar-border: 286 0% 92%;
    --sidebar-ring: 286 2% 70%;
}

.dark {
    --background: 270 7% 14%;
    --foreground: 0 0% 97%;
    --card: 270 6% 21%;
    --card-foreground: 0 0% 97%;
    --popover: 270 6% 21%;
    --popover-foreground: 0 0% 97%;
    --primary: 286 0% 92%;
    --primary-foreground: 270 6% 21%;
    --secondary: 286 6% 27%;
    --secondary-foreground: 0 0% 97%;
    --muted: 286 6% 27%;
    --muted-foreground: 286 2% 70%;
    --accent: 286 6% 27%;
    --accent-foreground: 0 0% 97%;
    --destructive: 22 19% 70%;
    --border: 0 0% 100% / 0.10;
    --input: 0 0% 100% / 0.15;
    --ring: 286 16% 55%;
    --chart-1: 264 24% 49%;
    --chart-2: 162 17% 70%;
    --chart-3: 70 19% 77%;
    --chart-4: 304 27% 63%;
    --chart-5: 16 25% 65%;
    --sidebar: 270 6% 21%;
    --sidebar-foreground: 0 0% 97%;
    --sidebar-primary: 264 24% 49%;
    --sidebar-primary-foreground: 0 0% 97%;
    --sidebar-accent: 286 6% 27%;
    --sidebar-accent-foreground: 0 0% 97%;
    --sidebar-border: 0 0% 100% / 0.10;
    --sidebar-ring: 286 16% 55%;
  }
}

@layer base {
  :root {
    --font-family-base: 'WeissenhofGrotesk', ui-sans-serif, system-ui, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-base);
  }
  @font-face {
    font-family: RedHatDisplay;
    font-weight: 500;
    src: url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf') format('woff2'),
       url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: WeissenhofGrotesk;
    font-weight: 500;
    src: url('./assets/fonts/WeissenhofGrotesk-Medium/WeissenhofGrotesk-Medium.woff') format('woff2'),
       url('./assets/fonts/WeissenhofGrotesk-Medium/WeissenhofGrotesk-Medium.ttf') format('truetype');
  }
}

@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-background text-foreground;

  }

}